<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gname %><br>
    <%= f.text_field :gname,class:"mytext form-control" %>
  </div>
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="field form-group">
    <%= f.label "Friend" %><br>
    <%= f.text_field :virtual_attribute ,class:"mytext form-control"%>
    <a href="#" class="btn btn-success" onclick="addUser()" style="color: #121D12">Add friend</a>
  </div>
  <%= f.hidden_field :uids %>
  <div class="actions">
    <%= f.submit "Create group",class:"mybutton btn" %>
  </div>
<% end %>
