<%= form_for(@ordr,:html => {:multipart => true}) do |f| %>
  <% if @ordr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordr.errors.count, "error") %> prohibited this ordr from being saved:</h2>

      <ul>
      <% @ordr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.select :otype, "<option value='Breakfast'>Breakfast</option><option value='Dinner'>Dinner</option><option value='Lunch'>Lunch</option>".html_safe ,class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label "Resturant name" %><br>
    <%= f.text_field :ofrom ,class:"mytext form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :menu %><br>
    <%= f.file_field :menu %>
  </div>
  <div class="field form-group">
    <%= f.label "Friend/Group" %><br>
    <%= f.text_field :virtual_attribute ,class:"mytext form-control"%>
    <a href="#" class="btn btn-success" onclick="addFriend()" style="color: #121D12">Add friend</a>
  </div>
  <%= f.hidden_field :invited,value:"0" %>
  <%= f.hidden_field :uids %>
  <!-- <div class="field form-group">
    <%= f.label :invited %><br>
    <%= f.number_field :invited ,class:"mytext form-control"%>
  </div> 
   <div class="field form-group">
    <%= f.label :joined %><br>
    <%= f.number_field :joined,class:"mytext form-control" %>
  </div> 
  <div class="field form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status,class:"mytext form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> --> 
  <div class="actions">
    <%= f.button "Add Order",class:"mybutton btn",onclick:"addOrder()"%>
  </div>
<% end %>
