
<div class="contact">
  <div class="wrap">
    <div class="section group">
      <div class="col span_2_of_3">
        <div class="contact-form">
          <p id="notice"><%= notice %></p>

          <h1>Listing Orders</h1>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Otype</th>
              <th>Ofrom</th>
              <th>Menu</th>
              <th>Invited</th>
              <th>Joined</th>
              <th>Status</th>
              <th>User</th>
              <th colspan="3">Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @ordrs.each do |ordr| %>
                <tr>
                  <td><%= ordr.otype %></td>
                  <td><%= ordr.ofrom %></td>
                  <td><%= ordr.menu %></td>
                  <td><%= ordr.invited %></td>
                  <td><%= ordr.joined %></td>
                  <td><%= ordr.status %></td>
                  <td><%= ordr.user %></td>
                  <td><%= link_to 'Show', ordr %></td>
                  <td><%= link_to 'Edit', edit_ordr_path(ordr) %></td>
                  <td><%= link_to 'Destroy', ordr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Order', new_ordr_path,class:"mybutton btn" %>

        </div>
      </div>
    </div>
  </div>
</div>
